<section class="hero is-fullheight is-box-sizing">
  <div class="hero-body">
    <div class="container">
    	<div class="columns">
	  		<div class="column">
		      <h1 class="title">
		        Box Sizing
		      </h1>
		      <h1 class="subtitle">
		        Tell browser how to calculate size of box model
		      </h1>
		     	<div class="action">
	     			<h4>Action</h4>
						<button class="button is-small">Margin</button>
						<button class="button is-small">Pargin</button>
						<button class="button is-small">Border</button>
		     	</div>
		    </div>
	  		<div class="column is-text-centered">
	  			<div class="browser-container">
	  				<div class="browser-header">
	  					<div class="circle"></div>
	  					<div class="circle"></div>
	  					<div class="circle"></div>
	  				</div>
	  				<div class="browser">
			  			<div class="box-model">
			  				Box
			  			</div>
	  				</div>
		      	<pre><code class="css">box-sizing: content-box;</code></pre>
	  			</div>
	  		</div>
		  </div>
    </div>
  </div>
</section>
