.is-box-model {
	.title {

	}

	.box-model {
		.text {
			margin-top: 1em;
		}
		.margin {
			text-align: center;
			display: block;
			background-color: rgba(#FEA301, 1);
			padding: 1em;
			color: $white;
			text-transform: uppercase;
			font-size: 1.2em;
		}

		.border {

			display: block;
			background-color: rgba(#303036, 1);
			padding: 1em;
			color: $white;
		}

		.padding {

			display: block;
			background-color: rgba(#2BA84A, 1);
			padding: 1em;
			color: $white;
		}

		.space {

			display: block;
			background-color: rgba(#eef0f2, 1);
			padding: 5em 1em;
			color: $black;
		}
	}
}