<section class="hero is-fullheight is-box-model">
  <div class="hero-body">
    <div class="container">
    	<div class="columns">
	  		<div class="column">
		      <h1 class="title">
		        Box Model
		      </h1>
		     	<ul class="list">
		     		<li>Space</li>
		     		<li>Padding</li>
		     		<li>Border</li>
		     		<li>Margin</li>
		     	</ul>
		    </div>
	  		<div class="column is-text-centered">
	  			<div class="box-model">
	  				<div class="margin">
	  					<div class="border">
	  						<div class="padding">	
		  						<div class="space">
		  							
	  								<div class="text">space</div>
		  						</div>
	  							<div class="text">padding</div>
	  						</div>
	  						<div class="text">border</div>
	  					</div>
	  					<div class="text">margin</div>
	  				</div>
	  			</div>
	  		</div>
		  </div>
    </div>
  </div>
</section>