body {
	background-color: #DDD;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

.title {
	font-size: 5em;
	margin-bottom: 0.8em !important;
}

.subtitle {
	font-size: 2.2em;
}

.list {
	list-style: disc;
	margin-left: 2.2em;

	& > li {
		font-size: 2.2em;
	}
}

.hljs {
	font-size: 1.5em;
}

.group {
	margin-top: 3em;
	@include flex();
	flex-wrap: wrap;
	width: 100%;

	button {
		background-color: transparent;
		flex: 0 0 48%;
		margin-right: 2%;
		margin-bottom: 2%;
		width: 100%;
		height: 220px;
		color: $white;
		padding: 0 2em;
		font-size: 1.2em;
		@include flex($align: center, $justify: center);
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: 4px solid #999;
		border-radius: 0;
		box-shadow: none;
		color: #999;
		font-size: 1.7em;

		&.is-active {
			box-shadow: none;
			color: #2ba84a;
			border: 4px solid #2ba84a;
		}

		&:hover {
			box-shadow: none;
			background-color: #2ba84a;
			color: $white;
			border: 4px solid #2ba84a;
		}
	}
}
.action {
	h4 {
		display: block;
		border-bottom: 1px solid #DDD;
		margin-bottom: 0.6em;
		text-transform: uppercase;
	}

	.field {

		.control {
			flex: 1;
			width: 100%;
		}
		.is-label {
			background-color: #333;
			color: $white;
			padding: 0 2em;
			font-size: 1.2em;
			@include flex($align: center);
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}

	button {
		padding: 1em 1.4em;
		font-size: 1.2em;
		height: auto !important;
		border: 1px solid #FFF; 
		margin :0;
		display: block;
		border-left: 1px solid #EEE;
		position: relative;
		border-radius: 0;
		font-weight: 400;
		width: 100%;
		&.is-active {
			background-color: #2ba84a;
			border: 1px solid #2ba84a;
			border-left: 1px solid #FFF;
			color: $white;
			box-shadow: none;

			&:after {
				opacity: 0.1;
			}
		}

		&:after {
			position: absolute;
			left: 50%;
			top: 70%;
			transform: translate(-50%, -50%);
			width: 1.4em;
			height: 1.4em;
			font-family: FontAwesome;
   		content: "\f00c";
   		font-size: 4em;
			display: block;
			opacity: 0;
		}
	}
}