/* Breakpoint */
$xss: 320px;
$xs: 480px;
$sm: 767px;
$md: 991px;
$lg: 1200px;

/* Color */
$black: #282C2E;
$blue: #1FB9FB;
$blue-dark: #029DDF;
$green: #69F4BC;
$green-darker: #69F4BC;
$white: #FFFFFF;
$white2: #F9F9F9;
$grey: #E5E7E6;
$red: #AD1F2A;

$fa-font-path: "~font-awesome/fonts";